placeholder.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="placeholder" type="placeholderType"/>

    <xs:complexType name="placeholderType">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="firstname" type="xs:string"/>
            <xs:element name="age" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

